# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Paiement
PAYMENT_PROVIDER=mollie
MOLLIE_API_KEY=
MOLLIE_WEBHOOK_SECRET=

# Email
RESEND_API_KEY=
RESEND_FROM=noreply@hublo.be

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
